/* Apply to all */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #FFD32D;
}

section {
    margin-top: 1rem;
}

/* Navbar */
.navbar .navbar-brand {
    font-weight: 400;
}

.navbar ul {
    margin-left: auto;
}

/* Project */
.project {
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid #F2F2F2;
    border-radius: 0.5rem;
    background-color: #ffffff;
}